<%- include("header") -%>

<h2>This is the about page</h2>

<h3>Welcome to the ToDo List Web Application! This application is designed to help you stay organized and manage your tasks effectively.</h3>
<p>Create and Manage Tasks: Easily add new tasks to your ToDo list, categorize them, and mark them as completed.</p>
<p>Work List: Keep your work-related tasks separate from personal tasks by utilizing the dedicated "Work List" feature.</p>
<p>Responsive Design: Access your ToDo list from any device, whether it's a desktop, tablet, or mobile phone.</p>

<%- include("footer") -%>